.flex {
    display: flex;
}
.acenter {
    align-items: center;
}
.jcenter {
    justify-content: center;
}
.jbetween{
    justify-content: space-between;
}
.wrapper{
    max-width: 1140px;
    margin: auto;
}