<footer>
    <div class="newsletter flex jcenter acenter">
        <p>Newsletter</p>
        <input type="text" placeholder="Email">
        <a href="" class="btn">
            <span>submit</span>
        </a>
    </div>
    <div class="about flex jcenter">
        <div>
            <p>About noko</p>
            <p>E-bikes</p>
            <p>Accesories</p>
            <p>Size guide</p>
            <p>Support</p>
            <p>Contact</p>
            <p>Buy online</p>
        </div>
        <div>
            <p>Ambassadors</p>
            <p>Press</p>
            <p>Blog</p>
            <p>Press kit</p>
        </div>
        <div>
            <p>Warranty</p>
            <p>Legal & premium warranty</p>
            <p>Buy online</p>
            <p>Return and cancellation</p>
            <p>Terms and conditions</p>
            <p>Privacy policy</p>
            <p>Faq</p>
        </div>
    </div>
    <div class="social-media flex jcenter">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-vimeo-v"></i></a> 
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="register flex jcenter">
        <p>Nokobike <i class="fa-solid fa-copyright"></i> 2022</p>
    </div>
</footer>