<header>
    <div class="wrapper flex jbetween acenter">
        <a href="index.php">
            <img src="img/logo.svg" alt="">
        </a>
        <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <nav class="nav">
            <ul class="flex">
                <li><a href="seccion.php">e-bikes</a></li>
                <li><a href="#">accesories</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </nav>
    </div>
</header>